<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Plan">
	 <select id="selectAll" resultType="Plan">
	 	select * from plan order by no asc
	 </select>	 
	 
</mapper>
<!-- mybatis에서 변수는 #{}안에 넣는다  jsp의 $와 헷갈리지 말자 -->